# Ignorar arquivos e pastas de build do Maven
/target/

# Ignorar arquivos de configuração da IDE
/.idea/

# Ignorar arquivos de log
*.log

# Ignorar arquivos temporários
*.tmp

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Você pode adicionar outras regras conforme necessário
